.navigation {
    background-color: rgba(30, 41, 56,1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}
.navigation #login-btn {
    text-decoration: none;
    border: 2px solid #fff;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgb(242, 163, 102);
    color: black;
}
.navigation img {
    width: 120px;
    display: inline-block;
}
.navigation .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgb(242, 163, 102);
}