* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans',serif;
    background: url('../Images/Background.jpg')no-repeat;
    background-color: rgba(0, 0, 0, 0.529);
    backdrop-filter: blur(15px);
    height: 100vh;
    color: white !important; 

}
#map { 
    height: 70vh;
    width: 90%;
}